body {
  background-color: #F2F2F2;;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  margin: 0px;
  padding: 0px;
}

header {
  background-image:url(./img/barra-superior.png);
  background-size:cover;
  background-repeat:no-repeat;
  height: 70px;
}

.main-container {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 102px;
  top: 125px;
  background: #FFFFFF;
  border-radius: 20px;
}

.percent {
  position: absolute;
  left: 5%;
  top: 6%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #514E4E;
}

.rectangle {
  position: absolute;
  width: 90%;
  height: 14px;
  left: 5%;
  top: 12%;
  border: 1px solid #FA6300;
  box-sizing: border-box;
  border-radius: 10px;
}

.rectangle-2 {
  position: absolute;
  width: 15%;
  height: 14px;
  background: #FA6300;
  border-radius: 10px;
}

.main-title {
  position: absolute;
  left: 5%;
  top: 13%;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #000000;
}

.photo {
  position: absolute;
  width: 90%;
  height: 500px;
  left: 5%;
  top: 25%;
}

.vector {
  position: absolute;
  left: 45%;
  top: 50%;
}