body {
  background-attachment: scroll;
  background-color: #F2F2F2;;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

header {
  background-image:url(./img/barra-superior.png);
  background-size:cover;
  background-repeat:no-repeat;
  height: 70px;
}

.main-container {
  background: #F2F2F2;
  left: 102px;
  height: 100%;
  position: absolute;
  top: 125px;
  width: 80%;
}
.conteiner {
  height: 200px;
  margin: auto;
  width: 1000px;
}

.img-mulher {
  background: url(./img/image\ 3.png);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 50px;
  height: 250px;
  left: 50%;
  position: relative;
  width: 250px;
  top: 33%
}

.messagem {
  background: url(./img/image\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 300px;
  height: 350px;
  left: 700px;
  position: relative;
  width: 350px;
}

.title-1 {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  height: 59px;
  left: 8%;
  line-height: 59px;
  position: absolute;
}

.title-2 {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  height: 59px;
  left: 8%;
  line-height: 59px;
  position: absolute;
  top: 8%;
}

.conteiner2 {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  height: 130px;
  left: 100px;
  position: absolute;
  top: 250px;
  width: 1000px;
}

.conteudo-container2 {
  background: url(./img/conetudo-conteiner2.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 130px;
  position: absolute;
  width: 80%;
}

.conteudo-container3 {
  background: url(./img/conetudo-conteiner3.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 130px;
  position: absolute;
  width: 80%;
}


.conteiner3 {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  height: 130px;
  left: 100px;
  position: absolute;
  top: 450px;
  width: 1000px;
}

.borda-orange2 {
  background: #FA6300;
  border-radius: 30px;
  height: 130px;
  position: absolute;
  width: 15px;
}

.borda-orange3 {
  background: #FA6300;
  border-radius: 30px;
  height: 130px;
  position: absolute;
  width: 15px;
}

.button2 {
  background: url(./img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  left: 800px;
  position: absolute;
  top: 50px;
  width: 150px;
}

.button3 {
  background: url(./img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  left: 800px;
  position: absolute;
  top: 50px;
  width: 150px;
}

a {
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0.04em;
  position: absolute;
  text-decoration: none;
  top: 10px;
}
