body {
  background-color: #F2F2F2;
}

.superior-container {
  display: flex;
  justify-content: flex-start;
}

.lateral-container {
  display: flex;
  align-items: flex-start;
}

.inferior-container {
  display: flex;
  justify-content: flex-end;
}