* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat",Arial,Helvetica,sans-serif;
}

.top-bar {
  background-color: white;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 20px;
}

.top-bar img {
  width: 100px;
  margin-left: 20px;
  position: absolute;
}

.titulo {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.titulo h1 {
  color: #FA6300;
  align-self: center;
  font-size: 35px;
}

.content {
  border: black 1px solid;
}

.content img {
  background-size: cover;
  width: 100%;
  height: 350px;
}
